:root {
    --text-color: #f0f4f5;
    --background-color: rgb(21, 19, 19);
    --accent-color: rgb(194, 144, 35);
}


body {
    margin: 0;
    font-family: 'Source Sans 3';
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* min-height: 100vh; */
    background-color: var(--background-color);
}

.navbar_menu {
    display: flex;
    padding: 8px 12px
}

a {
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 12px;
}

.navbar_logo {
    font-size: 24px;
    color: var(--accent-color);
}

.navbar_logo i {
    padding-left: 10px;
}

ul {
    list-style: none;
    padding-left: 0;
}

.navbar_logo a {
    color: rgb(252, 108, 242);
}

.navbar_icons {
    display: flex;
    color: var(--text-color);
}

.navbar_icons i {
    padding: 8px 12px;
}

li:hover {
    background-color: rgb(194, 144, 35);
    border-radius: 5px;
}

.navbar_icons i:hover {
    background-color: rgb(194, 144, 35);
    border-radius: 5px;
}

.toggleBtn {
    position: absolute;
    display: none;
    /* top: -4px; */
    right: 32px;
    font-size: 24px;
    color: rgb(194, 144, 35);
}

@media screen and (max-width: 750px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }

    .navbar_menu {
        flex-direction: column;
        align-items: center;
        width: 100%;
        display: none;
        /* visibility: hidden; */
    }

    .navbar_menu li {
        width: 100%;
        text-align: center;
    }

    .navbar_icons {
        justify-content: center;
        width: 100%;
        padding-left: 16px;
        display: none;
        /* visibility: hidden; */
    }

    .toggleBtn {
        display: block;
    }

    .navbar_menu.active,
    .navbar_icons.active {
        /* visibility: visible; */
        display: flex;
    }

}